<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">

    <php>
        <env name="APPLICATION_ENV" value="testing"/>
    </php>

    <testsuites>
        <testsuite name="Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>

</phpunit>
